{
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true,
  },
  "rules": {
    "indent": [2, 4],
    "strict": [0],
    "prefer-rest-params": [0],
    "guard-for-in": [0],
    "consistent-return": [0],
  }
}
